body{
   padding: 0;  
   margin: auto;
   background-color: #080c22;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
}
button{
    padding: 1em;
}
.button-section{
   padding-top: 8em;

}
.back-video{
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}
#back-music{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
 }
 #begin-music{
      position: absolute;
      left: 2em;
      bottom: 2em;
      background-color: green;
 }

@media (min-expect-ratio: 16/9){
    .back-video {
        width:100%;
        height:auto;
    }
}
@media (max-expect-ratio: 16/9){
    .back-video {
        width:auto;
        height:100%;
    }
}